.Background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.Background-image-mask {
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.nav-link:hover {
  text-decoration: underline;
}